<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            Search: <input ng-model="query">
            Sort by :
            <select ng-model="sort">
                <option value="name" selected>Alphabetical</option>
            </select>
        </div>
        <div class="span10">
            <ul class="campaigns">
                <li
                    ng-repeat="campaign in campaigns | filter:query | orderBy:sort"
                >
                    <a href="#/campaigns/{{campaign.name}}">
                        {{campaign.name}}
                    </a>
                    <p>
                        {{campaign.snippet}}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
